@import './style/reset.scss';

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem !important;
    min-width: 320px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
}

a:hover,
a[class]:hover {
    color: #40a9ff !important;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__main {
        overflow: hidden;
        flex-grow: 1;
        display: flex;

        .page {
            width: 100%;
        }
    }
}

input[data-error="true"],
.ant-picker.error,
.ant-input-password.error {
    border-color: #f11629;
    background-color: #fae6e6 !important;

    input {
        background-color: #fae6e6 !important;
    }

    &::placeholder,
    input::placeholder {
        color: #000;
    }
}

.ant-modal-confirm-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;

    button:first-child {
        flex-basis: calc(35% - 12px);
    }

    button:nth-child(2) {
        flex-basis: calc(65% - 12px);
    }
}

.ant-picker-error {
    border-color: #f11629 !important;
    background-color: #fae6e6 !important;

    .ant-picker-suffix {
        color: #f11629 !important;
    }

    .ant-picker-input input::placeholder {
        color: #000;
    }
}

.ant-select[data-error="true"] {
    .ant-select-selector {
        border-color: #f11629;
        background-color: #fae6e6 !important;
    }

    .ant-select-selection-placeholder {
        color: #000000;
    }
}

.ant-slider-handle {
    border-color: #1890ff;
}
.ant-slider-track {
    background-color: #1890ff;
}

.ant-picker-time-panel-column::after {
    height: 0 !important;
}